apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- system-config.yaml

labels:
- includeSelectors: true
  pairs:
    app: hacbs-jvm-operator

#note that when updating the ref here you must also update system-config.yaml
patches:
- path: https://raw.githubusercontent.com/redhat-appstudio/jvm-build-service-builder-images/57942d987486baf1b3c3de7e893970686e30a8ca/image-config.yaml
