.DS_Store
java-components/**/target/**
*.iml
.idea
.settings
.project
.classpath
.vscode/
*~
local-test
out
lib
bin
!devtools/cli/distribution/java-binary/bin
dependency-reduced-pom.xml
hotspot.log
.directory
.java-version
.graal-install
hs_err_pid*.log
dumps
*.orig
*.rej
.factorypath
graph-output.dot
*.swp
*.swo
ObjectStore
quarkus.log
.cache
.jbang
.sdkmanrc
.envrc
*.out
.env
.quinoa

# Kustomize overlays for openshift ci
deploy/**/ci-final/**

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
**/gradle/build/
