apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

bases:
 - "../../crds/base"
 - "../../base"
 - "../../operator/config"
 - "../../operator/overlays/dev-template"

patches:
 - patch: |-
     - op: replace
       path: /spec/steps/2/image
       value: jvm-build-service-reqprocessor-image
   target:
     kind: Task
     name: maven

patchesStrategicMerge:
  - config.yaml
  - system-config.yaml
