apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: ${JBS_WORKER_NAMESPACE}

generatorOptions:
  disableNameSuffixHash: true

resources:
  - jbs-build-git-repo.yaml
  - jbs-build-git.yaml
  - jbs-build-image.yaml
  - jbs-build-maven-repo-aws.yaml
  - jbs-build-maven-repo.yaml
  - jbs-build-s3.yaml
