apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization


resources:
  - "../../base"

images:
  - name: hacbs-jvm-console
    newName: quay.io/${JBS_QUAY_ORG}/jbs-management-console
    newTag: dev

patches:
  - patch: |-
      - op: replace
        path: /spec/template/spec/containers/0/imagePullPolicy
        value: Always
    target:
      kind: Deployment
      name: hacbs-jvm-console
