
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.6.2
  creationTimestamp: null
  name: artifactbuildrequests.jvmbuildservice.io
spec:
  group: jvmbuildservice.io
  names:
    kind: ArtifactBuildRequest
    listKind: ArtifactBuildRequestList
    plural: artifactbuildrequests
    singular: artifactbuildrequest
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .spec.gav
      name: GAV
      type: string
    - jsonPath: .status.state
      name: State
      type: string
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: ArtifactBuildRequest TODO provide godoc description
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            properties:
              gav:
                description: GAV is the groupID:artifactID:version tuple seen in maven
                  pom.xml files
                type: string
            type: object
          status:
            properties:
              message:
                type: string
              scm:
                properties:
                  path:
                    type: string
                  scmType:
                    type: string
                  scmURL:
                    type: string
                  tag:
                    type: string
                type: object
              state:
                description: 'TODO: conditions?'
                type: string
            type: object
        required:
        - spec
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
