name: Java CI

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: 17
      - name: Build with Maven
        working-directory: java-components
        run: mvn -V -B package -Dvalidate-format
      - name: Run unit tests
        working-directory: java-components
        run: mvn -V test
