name: Minikube Tests
on:
  pull_request:
    branches: [ main ]
jobs:
  wait-for-images:
    runs-on: ubuntu-latest
    steps:
      - name: Wait for Images
        run: |
          while true
          do
            if ! docker pull quay.io/redhat-user-workloads/konflux-jbs-pnc-tenant/jvm-build-service/build-request-processor:on-pr-${{ github.event.pull_request.head.sha }} ; then
              echo "Failed to pull image 1"
              sleep 10
              continue
            fi
            if ! docker pull quay.io/redhat-user-workloads/konflux-jbs-pnc-tenant/jvm-build-service/cache:on-pr-${{ github.event.pull_request.head.sha }} ; then
              echo "Failed to pull image 2"
              sleep 10
              continue
            fi
            if ! docker pull quay.io/redhat-user-workloads/konflux-jbs-pnc-tenant/jvm-build-service/controller:on-pr-${{ github.event.pull_request.head.sha }} ; then
              echo "Failed to pull image 3"
              sleep 10
              continue
            fi
            exit 0
          done
  run-ab-based-tests:
    strategy:
      fail-fast: false
      matrix:
        abtestsets:
          - "test-repos"
          - "build-systems"
          - "commons"
    needs: [wait-for-images]
    runs-on: ubuntu-latest
    name: Minikube Artifact Build Matrix
    steps:
      - name: Free Disk Space (Ubuntu)
        uses: jlumbroso/free-disk-space@54081f138730dfa15788a46383842cd2f914a1be # v1.3.1
        with:
          android: true
          dotnet: true
          haskell: true
          docker-images: false
          large-packages: false
          swap-storage: false
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4
      - name: Setup Registry
        run: |
          export DEV_IP=172.16.1.1
          sudo ifconfig lo:0 $DEV_IP
          docker run -d -p 5000:5000 --restart=always  registry:2
          sudo echo '{ "insecure-registries": ["172.16.1.1:5000"] }' | sudo tee  /etc/docker/daemon.json
      - name: Start minikube
        uses: medyagh/setup-minikube@d8c0eb871f6f455542491d86a574477bd3894533 # v0.0.18
        with:
          cpus: max
          memory: max
          insecure-registry: '172.16.1.1:5000'
      - name: Run Tests
        run: |
          export SHELL=/bin/bash
          export QUAY_USERNAME=minikube
          export DEV_IP=172.16.1.1
          export JBS_WORKER_NAMESPACE=jvm-build-service-test-namespace-$(shuf -er -n5 {a..z} {0..9} | tr -d '\n')

          eval $(minikube -p minikube docker-env)

          docker pull quay.io/redhat-user-workloads/konflux-jbs-pnc-tenant/jvm-build-service/build-request-processor:on-pr-${{ github.event.pull_request.head.sha }}
          docker pull quay.io/redhat-user-workloads/konflux-jbs-pnc-tenant/jvm-build-service/cache:on-pr-${{ github.event.pull_request.head.sha }}
          docker pull quay.io/redhat-user-workloads/konflux-jbs-pnc-tenant/jvm-build-service/controller:on-pr-${{ github.event.pull_request.head.sha }}
          docker tag quay.io/redhat-user-workloads/konflux-jbs-pnc-tenant/jvm-build-service/build-request-processor:on-pr-${{ github.event.pull_request.head.sha }} quay.io/minikube/hacbs-jvm-build-request-processor:dev
          docker tag quay.io/redhat-user-workloads/konflux-jbs-pnc-tenant/jvm-build-service/cache:on-pr-${{ github.event.pull_request.head.sha }} quay.io/minikube/hacbs-jvm-cache:dev
          docker tag quay.io/redhat-user-workloads/konflux-jbs-pnc-tenant/jvm-build-service/controller:on-pr-${{ github.event.pull_request.head.sha }} quay.io/minikube/hacbs-jvm-controller:dev

          export ABTESTSET=${{ matrix.abtestsets }}

          ./deploy/minikube-ci.sh
          make minikube-test
      - name: Archive Report
        uses: actions/upload-artifact@834a144ee995460fba8ed112a2fc961b36a5ec5a # v4
        if: always()
        with:
          name: matrix-report-${{ matrix.abtestsets }}
          path: /tmp/jvm-build-service-report
  run-db-based-tests:
    strategy:
      fail-fast: false
      matrix:
        dbtestsets:
          - "jakartaee"
    needs: [wait-for-images]
    runs-on: ubuntu-latest
    name: Minikube Dependency Build Matrix
    steps:
      - name: Free Disk Space (Ubuntu)
        uses: jlumbroso/free-disk-space@54081f138730dfa15788a46383842cd2f914a1be # v1.3.1
        with:
          android: true
          dotnet: true
          haskell: true
          docker-images: false
          large-packages: false
          swap-storage: false
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4
      - name: Setup Registry
        run: |
          export DEV_IP=172.16.1.1
          sudo ifconfig lo:0 $DEV_IP
          docker run -d -p 5000:5000 --restart=always  registry:2
          sudo echo '{ "insecure-registries": ["172.16.1.1:5000"] }' | sudo tee  /etc/docker/daemon.json
      - name: Start minikube
        uses: medyagh/setup-minikube@d8c0eb871f6f455542491d86a574477bd3894533 # v0.0.18
        with:
          cpus: max
          memory: max
          insecure-registry: '172.16.1.1:5000'
      - name: Run Tests
        run: |
          export SHELL=/bin/bash
          export QUAY_USERNAME=minikube
          export DEV_IP=172.16.1.1
          export JBS_WORKER_NAMESPACE=jvm-build-service-test-namespace-$(shuf -er -n5 {a..z} {0..9} | tr -d '\n')

          eval $(minikube -p minikube docker-env)

          docker pull quay.io/redhat-user-workloads/konflux-jbs-pnc-tenant/jvm-build-service/build-request-processor:on-pr-${{ github.event.pull_request.head.sha }}
          docker pull quay.io/redhat-user-workloads/konflux-jbs-pnc-tenant/jvm-build-service/cache:on-pr-${{ github.event.pull_request.head.sha }}
          docker pull quay.io/redhat-user-workloads/konflux-jbs-pnc-tenant/jvm-build-service/controller:on-pr-${{ github.event.pull_request.head.sha }}
          docker tag quay.io/redhat-user-workloads/konflux-jbs-pnc-tenant/jvm-build-service/build-request-processor:on-pr-${{ github.event.pull_request.head.sha }} quay.io/minikube/hacbs-jvm-build-request-processor:dev
          docker tag quay.io/redhat-user-workloads/konflux-jbs-pnc-tenant/jvm-build-service/cache:on-pr-${{ github.event.pull_request.head.sha }} quay.io/minikube/hacbs-jvm-cache:dev
          docker tag quay.io/redhat-user-workloads/konflux-jbs-pnc-tenant/jvm-build-service/controller:on-pr-${{ github.event.pull_request.head.sha }} quay.io/minikube/hacbs-jvm-controller:dev

          export DBTESTSET=${{ matrix.dbtestsets }}

          ./deploy/minikube-ci.sh
          make minikube-test
      - name: Archive Report
        uses: actions/upload-artifact@834a144ee995460fba8ed112a2fc961b36a5ec5a # v4
        if: always()
        with:
          name: matrix-report-${{ matrix.dbtestsets }}
          path: /tmp/jvm-build-service-report
